/* MAIN STYLESHEET FOR MERQUERY */

/* ********************************************* */
/* MAIN DIVS */
/* ********************************************* */

#merquery-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 265px;
    height: 80px;
    background-color: #222222;
    z-index: 50;
    border-bottom: 2px solid #444444;
    box-shadow: -7px 5px 20px #111111;
    text-align: center;
}

#search-footer {
    color: #646464;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 265px;
    height: 105px;
    background-color: #222222;
    z-index: 49;
    border-top: 2px solid #444444;
    text-align: center;
    padding: 10px 10px 20px 10px;
}

body {
    /* Shifted to accommodate fixed navbar */
    padding-top: 50px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Main content */

.main {
    padding: 10px;
    margin-left: 290px;

}

.main .page-header {
    margin-top: 0;
}

.container-fluid {
    position: relative;
}

th, td, tr {
    padding: 12px;
    font-size: 1em;
}

/* Loading indicator */
#loading-indicator{
    position:fixed;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
}

/* Display Result count */
#result-count {
    text-align: left;
}

/* ********************************************* */
/* FONTS AND HEADERS*/
/* ********************************************* */

h1 {
    color: #f43c37;
    font-family: "Arial Black";
    font-size: 15px;
    margin: auto;
    position: center;

}

h2 {
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    margin: auto;
    position: center;

}

h3 {
    color: #222222;
    font-family: "Arial";
    font-size: 20px;
    margin: auto;
    text-align: center;
}


h5 {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

/* TOP NAVIGATION BAR */
.navbar-fixed-top {
    border: 0;
    background-color: #ffffff;
    height: 15px;
    z-index: 1;
}

/* ********************************************* */
/* SIDEBAR */
/* ********************************************* */

/* Left navigation sidebar */
.sidebar {
    background-color: #222222;
    top: 80px;
    bottom: 105px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    width: 280px;
}

.nav-sidebar {
    margin: 20px 20px 20px 20px;
    color: #dddddd;
    background-color: #222222;
    position: relative;
    top: 0px;
}

#navigationBar {
    color: #dddddd;
}

.nav-sidebar > a:hover {
    color: #ffffff;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #ffffff;
    background-color: #428bca;
}

/* Input Box for Left Nav */
.input-box {
    width: 140px;
    color: #000;
}
.min-input-box {
    width: 50px;
    color: #000;
    margin-right: 14px;
}

.max-input-box {
    width: 50px;
    color: #000;
    margin-left: 14px;
}

.widthSet {
    /*to set width of col*/
    width: 50%;
    padding: 4px 0px 0px 4px;
}

/* Accordion toggle */
.accordion-toggle{
    cursor: pointer;
    display: block;
    color: #888888;
}
.accordion-toggle:hover {
    color: #ffffff;
}
.accordion-content {
    display: none;

}
.accordion-content.default {
    display: block;
}

/* ********************************************* */
/* BREADCRUMBS */
/* ********************************************* */

#breadcrumbs a {
    display: inline-block;
    color: #000;
    background: #eee;
    padding: 2px 10px 2px 5px;
    margin: 0 5px 5px 0;
    text-decoration: none;
    border-radius: 3px;
}

#breadcrumbs a em {
    padding: 0 3px 0 3px;
    margin-right: 5px;
    border-radius: 3px;
}

#breadcrumbs a:hover em {
    color: #FFF;
    background: #B00000;
}

/* ********************************************* */
/* BUTTONS */
/* ********************************************* */

.standardbutton {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    padding: 5px 13px 5px 13px;
    border: solid #999999 2px;
    text-decoration: none;
}

.standardbutton:hover:enabled,
.standardbutton:active:enabled {
    color: #ffffff !important;
    border: solid #4ccdc4 2px;
    background: #4ccdc4;
    text-decoration: none;
}

.dropdown-toggle, .helpButton{
    border: solid #4ccdc4 2px;
    border-radius: 0px;
    background: #4ccdc4;
    color: #ffffff;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus,
.helpButton:hover,
.helpButton:active,
.helpButton:focus{
    background: #378680 !important;
    border: solid #378680 2px !important;
}

#export-button:disabled {
    color: #cccccc;
    border: solid #cccccc 2px;
}

.helpButton,
#export-button {
    float: right;
    margin: 5px;
}

/* ********************************************* */
/* HELP PAGE */
/* ********************************************* */

.help-page-icons {
    height: 100px;
    width: 100px;
}

.help-icons-span {
    text-align: center;
    vertical-align: top;
    width: 150px;
    display: inline-block;
}

#help-page-body {
    text-align: center;
}

*, html {
    margin: 0;
    padding: 0;
}

/* ********************************************* */
/* SORTING ARROWS FOR TABLE HEADER */
/* ********************************************* */

table.tablesorter thead tr .header {
    background: url(bg.gif);
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    vertical-align: middle;
}

table.tablesorter thead tr .headerSortUp {
    background: url(asc.gif) no-repeat 99%;
}
table.tablesorter thead tr .headerSortDown {
    background: url(desc.gif) no-repeat 99%;
}

/* ********************************************* */
/* POP UP */
/* ********************************************* */

.tablediv {
    height: auto;
    width: 550px;
    overflow: auto;
}

.tablediv th {
    color: #888888;
}

/* Loading indicator for pop up */
#popimg {
    position:fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-50%);
}