/*
 * Base structure
 */



/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding:20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 330px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/* size of tables within side nav */

.sideNavTable {
width:320px;
}
/*to set width of col */
.widthSet {
width: 50%;
padding: 4px 0px 0px 4px;
}

/*accordion: http://uniondesign.ca/simple-accordion-without-jquery-ui/*/
.accordion-toggle{
cursor: pointer;
display: block;
}
.accordion-content {
display: none;
}
.accordion-content.default {
display: block;
}
/*end http://uniondesign.ca/simple-accordion-without-jquery-ui/ */

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 125px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* Our code */

.resultContainer {
            background-color: blue;
            margin: 10px 10px 10px 100px;
            color: white;
            font-weight: bold;
}

/* Bold category names */

/*tr:first-child {
	font-weight: bold;
}
*/

/* Make every odd row in table gray */
tr:nth-child(odd) {
  background-color: #f5f5f5;
}

th, td, tr {
	padding: 12px;
	font-size: 1em;
}
img {
  position: absolute;
  top: 0; bottom:0; left: 0; right:50;
  margin: 40px 0px 0px 40px;
  width: 1305px;
  height: 620px;
}

#popup, .bMulti {
  background-color: #FFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 25px 5px #999;
  color: #111;
  display: none;
  min-width: 450px;
  min-height: 250px;
  padding: 25px;
}

#popup .logo {
  color: #2B91AF;
  font: bold 325% 'Petrona',sans;
}


#breadcrumbs a {
    display: inline-block;
    color: #000;
    background: #eee;
    padding: 2px 10px 2px 5px;
    margin: 0 1px 5px 0;
    text-decoration: none;
    border-radius: 3px;
}

#breadcrumbs a em {
    padding: 0 3px 0 3px;
    margin-right: 5px;
    border-radius: 3px;
}

#breadcrumbs a:hover em {
    color: #FFF;
    background: #B00000;
}

.button.b-close, .button.bClose {
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
  font: bold 131% sans-serif;
  padding: 0 6px 2px;
  position: absolute;
  right: -7px;
  top: -7px;
}

.button {
  background-color: #2B91AF;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  position: fixed;
}

.navbar-brand {
	font-family: "Arial Black";
    font-size: 50px;
    position: center;
	margin: auto;
	text-decoration: none;
	text-align: center;
	color: #ff3f28;
	background-color: black;
}

.navbar-header {
	text-align: center;
	background-color: black;
}

.helpButton {
    float: right;
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: #CF000F;
    opacity: 60%;
    padding: 15px 10px;

}

#helpDialog {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%
    text-align: center;
    z-index: 1000;
}

#helpDialog div {
    display: block;
    width: 75em;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}
*, html {
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;

  padding: 20px 0;
}
#page-counter {
text-align: center;
}