/*
 * Base structure
 */

#merquery-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 265px;
    height: 80px;
    background-color: #222222;
    z-index: 50;
    border-bottom: 2px solid #444444;
    box-shadow: -7px 5px 20px #111111;
    text-align: center;
}

#search-footer {
    color: #646464;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 265px;
    height: 105px;
    background-color: #222222;
    z-index: 49;
    border-top: 2px solid #444444;
    text-align: center;
    padding: 10px 10px 20px 10px;
}

/* Fonts */
h1 {
    color: #f43c37;
    font-family: "Arial Black";
    font-size: 15px;
    margin: auto;
    position: center;

}

h2 {
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    margin: auto;
    position: center;

}

h3 {
    color: #f43c37;
    font-family: "Arial Black";
    font-size: 20px;
    margin: auto;
    position: center;
}


h5 {
    text-align: center;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
    background-color: #ffffff;
    height: 15px;
    z-index: 1;
}

/*
SIDEBAR
 */
/* SEARCH BUTTON */
#get_user {
    color: #000;
}

/* Sidebar navigation */

.sidebar {
    background-color: #222222;
    top: 80px;
    bottom: 105px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    width: 280px;
}

.nav-sidebar {
    margin: 20px 20px 20px 20px;
    color: #dddddd;
    background-color: #222222;
    position: relative;
    top: 0px;
}

#navigationBar {
    color: #dddddd;
}

.nav-sidebar > a:hover {
    color: #ffffff;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #ffffff;
    background-color: #428bca;
}

/* Input Box for Left Nav */
.input-box {
    width: 140px;
    color: #000;
}
.min-input-box {
    width: 50px;
    color: #000;
    margin-right: 14px;
}

.max-input-box {
    width: 50px;
    color: #000;
    margin-left: 14px;
}


/*to set width of col OBSOLETE*/
.widthSet {
    width: 50%;
    padding: 4px 0px 0px 4px;
}

/*accordion: http://uniondesign.ca/simple-accordion-without-jquery-ui/*/
.accordion-toggle{
    cursor: pointer;
    display: block;
    color: white;
}
.accordion-toggle:hover {
color: red;
}
.accordion-content {
    display: none;

}
.accordion-content.default {
    display: block;
}
/*end http://uniondesign.ca/simple-accordion-without-jquery-ui/ */

/*
 * Main content
 */

.main {
    padding: 10px;
    margin-left: 290px;

}

.main .page-header {
    margin-top: 0;
}


/* Bold category names */

/*tr:first-child {
	font-weight: bold;
}
*/

/* Make every odd row in table gray
tr:nth-child(odd) {
  background-color: #f5f5f5;
} */

th, td, tr {
    padding: 12px;
    font-size: 1em;
}
img {

    position:fixed;
    left: 50%;
    top: 50%
    right: 50%;
    bottom: 50%;
   /* top: 0; bottom:0; left: 0; right:50;
    margin: 150px 0px 0px 390px;*/
}

#popimg {
    position:fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-50%);
}

#popup, .bMulti {
    background-color: #FFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    min-height: 250px;
    padding: 25px;
}

#popup .logo {
    color: #2B91AF;
    font: bold 325% 'Petrona',sans;
}

/* BREADCRUMBS */
#breadcrumbs a {
    display: inline-block;
    color: #000;
    background: #eee;
    padding: 2px 10px 2px 5px;
    margin: 0 5px 5px 0;
    text-decoration: none;
    border-radius: 3px;
}

#breadcrumbs a em {
    padding: 0 3px 0 3px;
    margin-right: 5px;
    border-radius: 3px;
}

#breadcrumbs a:hover em {
    color: #FFF;
    background: #B00000;
}

/* BUTTONS */

/* Hide Left Nav Button */

.btn-left-nav {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 3px;
}

.btn-left-nav:focus{
    outline: 0 !important;
}

.glyphicon-menu-left {
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 3px;
}

.glyphicon-menu-left:hover, .glyphicon-menu-left:active {
    color: #888888;
    position: absolute;
    top: 0px;
    right: 3px;
}

/* Show Left Nav Button */
.btn-right-nav {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 3px;
}

.glyphicon-menu-right {
    color: #000000;
    position: absolute;
    top: 0px;
    left: 500px;
}

.glyphicon-menu-right:hover, .glyphicon-menu-right:active {
    color: #888888;
    position: absolute;
    top: 0px;
    left: 500px;
}

.container-fluid {
    position: relative;
}


button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    background: #ffffff;
    padding: 5px 13px 5px 13px;
    border: solid #999999 2px;
    text-decoration: none;
}

button:hover:enabled,
button:active:enabled {
    color: #ffffff !important;
    border: solid #4ccdc4 2px;
    background: #4ccdc4;
    text-decoration: none;
}

.dropdown-toggle, .helpButton{
    border: solid #4ccdc4 2px;
    border-radius: 0px;
    background: #4ccdc4;
    color: #ffffff;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus,
.helpButton:hover,
.helpButton:active,
.helpButton:focus{
    background: #378680 !important;
    border: solid #378680 2px !important;
}

#export-button:disabled {
    color: #cccccc;
    border: solid #cccccc 2px;
}

.helpButton,
#export-button {
    float: right;
    margin: 5px;
}

#helpDialog {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%
    text-align: center;
    z-index: 100;
}

#helpDialog div {
    display: block;
    width: 500px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
    z-index: 200;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.5);
}

*, html {
    margin: 0;
    padding: 0;
}


/*Display Result count*/
#result-count {
    text-align: left;
}

/*Export Button
#export-button {
    position: fixed;
    padding-top: 0px;
    padding-bottom: 10px;
    float: right;
    right: 16px;
    bottom: 5px;
    z-index: 9999;
    width: 8%;
    text-align: center;
    height: 25px;
}
*/

/*Table Header up and down arrows for sorting */
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
    padding-right: 50px;
	background-repeat: no-repeat;
	background-position:  right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

.icon{
    text-align: center;
}

.tablediv {
    height: auto;
    width: 550px;
    overflow: auto;
}
